*{
    padding: 0;
    margin: 0;
}

.background{
      background: url(../img/cover.jpg) no-repeat;
      background-size: cover;
      height: 100vh;
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: .90;
      transition: opacity .5s ease-in-out;
      

}

.main{
    z-index: 2;
}

.center{
    border-radius: 30px;
    background: rgba(0, 65, 85, 0.7);
}

.navbar{
       height: 80px;
      width: 100%;

      background: rgba(0,0,0,0.4);

}

.logo{

    width: 40px;
    height: auto;
    padding: 20px 80px;
}

.navbar ul{
     float: right;
     margin-right: 20px;

}

.navbar ul li{
    list-style: none;
    margin: 8px;
    display: inline-block;
    line-height: 80px;

}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: arial black;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
       background: gray;
       border-radius: 2px;
}


.main .center{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
      font-family: sans-serif;
      user-select: none;

}

.center h1{
    color: white;
    font-size: 70px;
    font-weight: bolder;
    width: auto;
    text-align: center;

}

.center h2{
    color:black;
    font-size: 25px;
    font-weight: bolder;
    width: auto;
    text-align: center;
}

.center .buttons{
     margin:35px 280px;
}

 .buttons button{
          height: 50px;
          width: 150px;
          font-size: 18px;
          font-weight: bold;
          color: white;
          background-color: rgb(26, 41, 46);
          border: 1px solid;
          outline: none;
          cursor: pointer;
          border-radius: 25px;
          transition: 0.5s;
 }

.buttons .btn{
    margin-left: 25px;
}

.buttons button:hover{
    background-color: gray;
}

footer{
    margin-top: 100vh;
    background: rgb(0, 65, 85);
    width: 104%;
    height: 64px;
    color: white;
}

p#fotter-text{

    line-height: 4;
    text-align: center;
}




/* about */

.center .about{
    margin: 35px 280px;
    font-weight: bolder;
    color: white;
    
}

.center .about .about-h{
    font-weight: bolder;
}

a.aboutSite{

    color: black;
}

a.aboutSite:hover{
    color: gray;
}

/* history */

.center .history{
     margin: 35px 10px;
     font-weight: bolder;
     color: white;
}

.center .about .history-h{
    font-weight: bolder;
}


/* contact */

form{
    margin: auto;
    width: 200%;
    padding:40px;
    font-weight: bolder;
}

.form-control{
    display: block;
    width: 40%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: gray;
    background-color: white;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box=shadow .15s ease-in-out;

}

.btn-primary{
    color: white;
    background-color:rgb(26, 25, 39);
}

.btn-primary:hover{
    color: white;
    background-color: gray;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box=shadow .15s ease-in-out;
}


@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .center {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .navbar, .main, .footer {
      width: 100%;
    }
  }
